.App {
  text-align: center;
}

/* create form styles */
.create__form{
  width: 500px;
  margin-top: 20px;
}

.create__form label{
  float: left;
  font-weight: 500;
}

/* list card styles */
.list__card{
    margin: 20px;
}
